
/* phan trang */
.current_page .page_link{
    background: none;
    border: 1px solid ;
    display: block;
    color: #e74c3c;
}
.page_link{
    float: left;
    margin: 0px 2px;
    border-radius: 50%;
    width: 32px;
    background: transparent;
    text-align: center;
    height: 32px;
    font-size: 14px;
    padding: 0;
    line-height: 30px;
    color: #333;
    border: 1px solid #ebebeb;
}